* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, black, purple);
  position: relative;
  overflow: hidden;
}

.bubble {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  opacity: 0.4;
  bottom: -60px; 
  

}
#circle1 
{ 
    left: 10%;
    animation-name:bubbleFloat1 ; 
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   
}
#circle2 
{ 
    left: 25%;
 animation: bubbleFloat2 9s infinite ease-in-out; 
 
}
#circle3 
{ 
    left: 40%; 
    animation: bubbleFloat1 7s infinite ease-in-out;
    
 }
#circle4 
{ 
    left: 55%;
     animation: bubbleFloat2 10s infinite ease-in-out;
 }
#circle5 
{ 
    left: 70%;
     animation: bubbleFloat1 11s infinite ease-in-out;
 }
#circle6 
{ 
    left: 85%;
     animation: bubbleFloat2 12s infinite ease-in-out;
 }


@keyframes bubbleFloat1 {
  0%   
  {
     transform: translateY(0) scale(0.8); 
     opacity: 0.5; 
 }
  25%  
  { 
    transform: translate(20px, -25vh) scale(1.2);
     opacity: 0.8; 
  }
  50% 
   { 
    transform: translate(-15px, -50vh) scale(0.9); 
    opacity: 0.6; 
  }
  75% 
   {
     transform: translate(10px, -70vh) scale(1.3); 
     opacity: 0.4;
    }
  100% 
  { 
    transform: translate(0, -90vh) scale(1); 
    opacity: 0; 
  }
}


@keyframes bubbleFloat2 {
  0%   
  { 
    transform: translateY(0) scale(1); 
    opacity: 0.5; 
  }
  20% 
   {
     transform: translate(-25px, -20vh) scale(1.3);
      opacity: 0.7; 
   }
  50%  
  
  {
     transform: translate(20px, -45vh) scale(0.8); 
     opacity: 0.5;
  }
  80% 
   {
     transform: translate(-10px, -70vh) scale(1.4); 
     opacity: 0.3; 
   }
  100%
   { 
    transform: translate(0, -90vh) scale(1); 
    opacity: 0;
  }
}
