*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 90%;
    height: 300px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
     /* when container having additional space then only flex grow property working */
}
.child{
    width: 200px;
    height: 200px;
    background-color: lightyellow;
    border: 2px solid black;
}
#child1{
   
    /* flex groe 0 is the defalut value which will be higest value that will start first move*/
    /* flex-grow: 0; */
    /* flex-grow: 7; */

    /* flex-shrink 1 is defalut value 
    when we give 0 it will not shrink */
    /* flex-shrink: 0; */
    /* flex-basis: 300px; */
    /* shorten property */
    /* flex: 0 0 400px; */
    align-self: flex-start;

}
#child2{
    /* flex-grow: 30; */
    /* flex-shrink: 21; */
    flex-basis: 100px;
    align-self: flex-end;
}
#child3{
    /* flex-grow: 20; */
    /* flex-shrink: 13; */
    flex-basis: 150px;
    align-self: center;
}
.child{
    transition: all 0.5s;
}
.child:hover{
    flex-grow: 3;
    flex-shrink: 6;
    /* flex-basis: 600px; */
}