*
{
    padding: 0px;
    margin: 0px;
}

#flower_container
{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 35%;
}
.petals
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(pink,purple);
    position: absolute;
    border-radius: 100% 0%;
    transform: rotateZ(-45deg);
    transition: transform 2s;
    border: 2px solid black;
   
}
#bud
{
    width: 32.1%;
    height: 30%;
    background-image: linear-gradient(lightgreen,green);
    border-radius: 0% 0% 50% 50%;
    position: relative;
    top: 130%;
    left: 34%;
    cursor: pointer;   
}    
#bud:hover~ #left_first
{
    transform: translate(-65px,-10px) rotateZ(-65deg);
}
#bud:hover~ #left_second
{
    transform: translate(-120px,15px) rotateZ(-85deg);
}
#bud:hover~ #left_third
{
    transform: translate(-170px,36px) rotateZ(-100deg);
}
#bud:hover~ #left_fourth
{
    transform: translate(-230px,85px) rotateZ(-120deg);
}   


#bud:hover~#right_first
{
    transform: translate(70px,-3px) rotateZ(-25deg);
} 
#bud:hover~#right_second
{
    transform: translate(150px,20px) rotateZ(-3deg);
} 
#bud:hover~#right_third
{
    transform: translate(170px,8px) rotateZ(10deg);
} 
#bud:hover~#right_fourth
{
    transform: translate(250px,80px) rotateZ(25deg);
} 

#center
{
    z-index: 9;
}
#bud
{
    z-index: 10;
}
#left_first
{
    z-index:8;
}
#right_first
{
    z-index:8;
}
#left_second
{
    z-index:8;
}
#right_second
{
    z-index:8;
}