* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  width: 300px;
  height: 300px;
  position: relative;
  animation: rotateOrbit 10s linear infinite;
}

.orbit div {
  position: absolute;
  border-radius: 50%;
}
 

#container1 {
  width: 80px;
  height: 80px;
  background: white;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.8);
}

#container2 {
  width: 70px;
  height: 70px;
  background: orange;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 25px 10px rgba(255, 165, 0, 0.8);
}

#container3 {
  width: 60px;
  height: 60px;
  background: red;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 25px 10px rgba(255, 0, 0, 0.8);
}

#container4 {
  width: 50px;
  height: 50px;
  background: green;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 25px 10px rgba(0, 255, 0, 0.8);
}

#container5 {
  width: 40px;
  height: 40px;
  background: blue;
  top: 10%;
  left: 10%;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 255, 0.8);
}

#container6 {
  width: 30px;
  height: 30px;
  background: yellow;
  bottom: 10%;
  right: 10%;
  box-shadow: 0px 0px 25px 10px rgba(255, 255, 0, 0.8);
  
}

@keyframes rotateOrbit {
    0%
    {
    transform: rotate(0deg);
    }
    100%
   {
    transform: rotate(360deg);
    }
  
}
