*{
    padding: 0px;
    margin: 0px;
}
body{
    width:100%;
    height: auto;
    background-image: linear-gradient(45deg,purple,plum);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
/* h1{
    text-align: center;
    color: white;
    margin-bottom: 2vw;
    font-size: 2.5px;
} */
#container{
    width: 90%;
    height: auto;
    background-color: black;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 3vw;
    column-gap: 3vw;
}
.childDiv{
    width: 280px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.6s;
}
.childDiv:hover{
    transform: rotate(360deg) scale(1.2);
}
.childDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
   
}