* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 450px;
    background-color: skyblue;
    position: relative;
    overflow: hidden;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: 0;
}

#heading {
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 400px;
    text-shadow: 2px 2px 4px black;
    color: orangered;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
