*{
    padding: 0px;
    margin: 0px;
}
body{
   width: 100%;
   height: 100vh;
   justify-content:space-evenly;
   align-items: center;
   flex-direction: column;
   display: flex;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color:yellow;
}
#heading1{
    font-size: 50px;
    letter-spacing: 2vw;
    animation-name: textAnimation;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
    /* animation-iteration-count: 2; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    animation-fill-mode: both;


}
#heading2{
    font-size: 30px;
    letter-spacing: 2vw;
    animation-name: textAnimation;
    animation-duration: 3s;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
    animation-iteration-count: 4;
    /* animation-direction: alternate-reverse; */
    /* animation-fill-mode: backwards; */
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
#heading3{
    font-size: 20px;
    letter-spacing: 2vw;
    animation-name: textAnimation;
    animation-duration: 3s;
    animation-delay: 1.5s;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate-reverse; */
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: 2;
}
@keyframes  textAnimation{
    from{
        transform:translate(-60vw);
         color:darkblue;
    }
    to{
        transform: translate(0vw);
        color: red;
    }
}